/***************************************************
Add your Google Fonts-DONE
Update ALL the named colours to create a monochromatic scheme- DONE
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/
/*@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Open+Sans');*/



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack DONE */
    font-family: 'Open Sans', arial, sans-serif;
}
html, body{
    background-color: #5F96F2;
}
h1{
    font-size: 6.854rem;
    /* ADD the Google serif font to this font stack DONE*/
    font-family: 'Gentium Book Basic', Palatino, serif;
    padding: 1rem 2rem;
}
h2{
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack DONE*/
    font-family: 'Gentium Book Basic', Palatino, serif;
    padding: 1rem 2rem;
}
nav li{
    font-size: 2.618rem;
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: #A9C5F4;
    /*green DONE*/
    color: #2D4772;
    /*purple DONE*/
}
header{
    border-bottom: 0.8rem solid #2D4772;
    background-color: #4B76BF;
    /*cornflower DONE*/
    color: #A9C5F4;
    /*aliceblue DONE*/
}
.menu-h{
    width: 100%;
    font-size: 0;
}
    .menu-h li{
        display: inline-block;
        width: 20%;
        float: left;
        text-align: center;
        border: 1px solid;
        margin: 0px;
        /* style the list items to remove the bullets DONE
        and line up horizontally DONE
        and take up 20% of the width of the ul DONE */
    }
        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited{
            text-decoration: none;
            background-color: #4B76BF;
            display: block;
            color: #A9C5F4;
            padding: 5%;
        }
        .menu-h a:hover,
        .menu-h a:active{
            background-color: #2D4772;
            display: block;
            color: chartreuse;
            box-shadow: inset 0 0 40px;

        }
.menu-v{
    width: 20%;
    float:left;
}
    .menu-v li{

        display: inline-block;
        width: 100%;
        float: left;
        text-align: center;
        border: 1px solid;
        margin: 0px;
        /* DONE style the list items to remove the bullets
        and line up vertically
        and take up 100% of the width of the ul */
    }
        .menu-v a,
        .menu-v a:link,
        .menu-v a:visited{
            text-decoration: none;
            background-color: #4B76BF;
            display: block;
            color: #A9C5F4;
            padding: 5%;
        }
        .menu-v a:hover,
        .menu-v a:active{
            background-color: orange;
            display: block;
            color: black;
            text-shadow: 0 0 10px black;

        }
main{
    width:80%;
    float: right;
}
footer{
    clear:both;
}